<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div style="position: fixed">
        adsf
      </div>
    </div>
    <div class="col-md-8">
      <div class="col-md-12" *ngFor="let realty of realties | paginate: { itemsPerPage: pageSize , currentPage: p }">
        <realty-item [realty]="realty"></realty-item>
      </div>
    </div>
  </div>

</div>
<div class="text-center" style="height: 30px;">
    <pagination-controls (pageChange)="p = $event" (pageChange)="pageChanged($event)" directionLinks="true"></pagination-controls>
</div>
